* {
  margin: 0;
  padding: 0;
}

.return-button {
  background: none;
  border: none;
  margin: 45px 45px 0;
  /* color: black; */
}

.details-container {
  display: flex;
}

.aside-details-container {
  margin: 0 10%;
  position: absolute;
  right: 0;
  width: 45%;
}

.aside-details-container >section:first-child {
  display: flex;
}

#detail-span {
  color: rgb(143, 0, 143);
  font-size: 0.95em;
  font-weight: 900;
  margin-right: 8px;
}

.arrow ~ span {
  color: grey;
}

.aside-details-container > h2 {
  margin: 12px 0 0;
}

.detail-info-rating-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 5px;
  width: 75%;
}

.detail-info-rating-container > img {
  margin-right: 5px;
}

.detail-info-rating-container > div {
  margin-left: 15%;
}

.aside-details-container > h1 {
  color: rgb(143, 0, 143);
  font-size: 1.6em;
  margin: 15px 0 0;

}

.detail-price-nomsocio {
  color: gray;
  font-size: 0.8em;
}

.aside-details-container > h4 {
  margin: 40px 0 12px;
}

.aside-details-container > h4 ~ p {
  color: gray;
  font-size: 0.9em;
  line-height: 18px;
  margin-bottom: 20px;
}

.detail-add-button {
  align-items: center;
  background-color: rgb(54, 189, 54);
  border-radius: 5px;
  display: flex;
  margin: 5px 0 20px;
  padding: 5px;
  width: 250PX;
  /* border: 1px solid red; */
}

.detail-add-button > input {
  background-color: rgb(54, 189, 54);
  border: none;
  color: white;
  font-size: 1.5em;
  height: 40px;
  width: 45px;
}

.detail-add-button > button {
  background-color: rgb(54, 189, 54);
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  font-size: 1.5em;
  width: 30px;
}

.detail-add-button > button:first-child {
  margin: 0 28px 0 5px;
}

.detail-add-button > button:last-child {
  border: none;
  color: white;
  font-size: 0.9em;
  margin-left: 15px;
}

@media screen and (max-width: 768px) {
  .details-container {
    align-items: center;
    flex-direction: column;
  }

  .details-container > img {
    width: 250px;
  }

  .aside-details-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    width: 80%;
  }

  .aside-details-container >section:first-child {
    justify-content: center;
  }

  .detail-info-rating-container {
    margin-top: 10px;
    width: 90%;
  }

  .detail-info-rating-container > img {
    margin: 0;
  }

  .detail-info-rating-container > div {
    margin-left: 8%;
  }

  #detail-price-member {
    font-size: 2.5em;
  }
}