*{
  margin: 0;
  padding: 0;
}

.header-container {
  border-bottom: 2px solid rgb(194, 194, 194);
}

/* #header-sub-container {
  align-items: center;  
  display: flex;
  justify-content: space-between;
} */

#header-buttons {
  background: none;
  background-color: none;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 2px;
  color: gray;
  margin: 15px 15px;
  padding: 5px;
}

.container-search-button {
  margin: 0 25px;
}

#icons-buttons {
  background: none;
  background-color: none;
  border: none;
  border-radius: 100%;
  box-shadow: 2px 2px 3px gray;
  color: gray;
  height: 40px;
  margin: 5px 5px;
  width: 40px;
}

#header-buttons:hover, #icons-buttons:hover {
  box-shadow: 3px 3px 5px;
  color: palevioletred;
}

.mb-3 {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

#form-search-control {
  margin: 10px 20px;
  width: 40%;
}

#form-search-button {
  background-color: rgb(54, 189, 54);
  border: none;
  font-weight: 900;
  height: 50%;
}

#toogle {
  margin: 0 25px;
}

.test {
}
