.principal-container {
  background-color: rgb(238, 236, 236);
  display: flex;
}

.aside-container {
  min-width: 30%;
  margin: 20px;
}

.aside-container > h3 {
  margin-top: 20px;
}

.radios-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.radios-container > label {
  margin-top: 25px;
}

.socio-price {
  display: flex;
  margin-top: 5px;
}

.socio-price > p {
  font-size: 0.9em;
  margin-right: 5px;
} 

.list-container {
  margin-top: 20px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.cards {
  margin: 8px;
}

.product-card {
  align-items: center;
  border: 1px solid rgb(194, 191, 191);
  border-radius: 7px;
  box-shadow: 10px 10px 20px rgb(194, 191, 191);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  max-width: 180px;
  height: 300px;
  padding: 10px;
}

/* https://www.devmedia.com.br/css-opacity/38106 */
.product-card > img:first-child {
  opacity: 0.8;
  left: 65px;
  position: relative;
  top: 140px;
}

.full-price {
  font-size: 0.9em;
  margin: 5px 0;
}

.full-price > span {
  margin-right: 10px;
}

#span-price {
  text-decoration: line-through;
}

#discount {
  background-color: rgb(245, 113, 66);
  border-radius: 3px;
  color: white;
  font-weight: 900;
  padding: 2px;
}

#socio-price-detail {
  color: rgb(143, 0, 143);
}

.focus-price {
  font-size: 1.2em;
  font-weight: 900;
}

.cards > button {
  background-color: rgb(54, 189, 54);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  font-weight: 900;
  min-width: 201px;
  height: 40px;
  margin-top: 10px;
}

#non-socio {
  color: gray;
  font-size: 0.9em;
  margin-top: 5px;
}

.next-buttons-container {
  display: flex;
  justify-content: center;
  margin: 15px;
}

#next-button {
  font-size: 1em;
  font-weight: 900;
  margin: 15px 8px;
}

.next-button-1 {
  border: 1px solid rgb(143, 0, 143);
  color: rgb(143, 0, 143);
  height: 40px;
  padding: 5px;
  width: 40px;
}

.next-button-2 {
  border: 1px solid rgb(143, 0, 143);
  color: rgb(143, 0, 143);
  width: 80px;
}

.button-next {
  border: none;
  color: rgb(143, 0, 143);
}

#next-button:focus {
  background-color: rgb(143, 0, 143);
  color: white;
  font-weight: 900;
}