.success-container {
  background-image: url('../images//sucesso.jpeg');
  background-size: cover;
  display: flex;
  height: 100vh;
}

.success-container > h1 {
  font-size: 3em;
  height: 100vh;
  margin: 20% 0;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .success-container > h1 {
    align-items: center;
    display: flex;
    max-height: 80vh;
  }
}