.maintenence-container {
  height: 100vh;
  width: 100;
}

.maintenence-container > button {
  font-size: 1.3em;
  bottom: 20%;
  left: 40%;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .maintenence-container > img {
    margin-left: -40px;
    width: 400px
  }

  .maintenence-container > button {
    bottom: 40%;
    font-size: 1.5em;
    left: 20%;
  }
}